*:focus {
    border: none !important;
}

.explore {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.form-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.form-container .form{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid black;
    border-radius: 8px;
    width: 15rem;
    margin-left: 1.5rem;

}

.form-control, Form {
    border: none

}